<ion-content class="profile-content">
  <div class="profile-container">
    <div class="circle-background">
      <img src="assets/elements/logo.png" alt="Logo">
    </div>
    <h2>Seus Dados</h2>
    <form [formGroup]="profileForm">
      <ion-item>
        <ion-input formControlName="name" labelPlacement="stacked" label="Nome" [readonly]="!isEditing" type="text">
          <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="lastName" labelPlacement="stacked" label="Sobrenome" [readonly]="!isEditing" type="text">
          <ion-icon slot="start" name="person-add" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="birthDate" labelPlacement="stacked" label="Data de Nascimento" [readonly]="!isEditing" type="date">
          <ion-icon slot="start" name="calendar" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="username" labelPlacement="stacked" label="Nome de Usuário" [readonly]="!isEditing" type="text">
          <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" labelPlacement="stacked" label="Email" [readonly]="!isEditing" type="email">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <div class="buttons-container">
        <ion-button (click)="goToHome()" expand="full" class="profile-button">Voltar</ion-button>
        
        <ion-button *ngIf="isEditing" (click)="onSaveProfile()" expand="full" class="profile-button">Salvar</ion-button>
        
        <ion-button (click)="goToUpdateProfile()" expand="full" class="profile-button">{{ isEditing ? 'Cancelar' : 'Editar' }}</ion-button>
      </div>
    </form>
  </div>
</ion-content>
