<ion-content class="recover-pass-content">
  <div class="recover-pass-container">
    <div class="circle-background">
      <a href="/login">
        <img src="assets/elements/logo.png" alt="Logo">
      </a>
    </div>
    <h2>Recuperação de Senha</h2>
    <p class="recover-pass-instruction">Informe um email que esteja cadastrado.</p>

    <form [formGroup]="recoverPassForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input formControlName="email" labelPlacement="stacked" label="Email" placeholder="email@domain.com" type="email">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <div *ngIf="recoverPassForm.get('email')?.touched && recoverPassForm.get('email')?.invalid">
        <p *ngIf="recoverPassForm.get('email')?.hasError('required')" class="error-message">O email é obrigatório.</p>
        <p *ngIf="recoverPassForm.get('email')?.hasError('email')" class="warning-message">Insira um email válido.</p>
      </div>
      <div *ngIf="successMessage" class="success-message">
        <p>{{ successMessage }}</p>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
      <ion-button expand="full" type="submit" class="recover-pass-button" [disabled]="recoverPassForm.invalid">Enviar Solicitação</ion-button>
    </form>
    <ion-button class="back-to-login-button" (click)="goToLogin()">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
    </ion-button>
  </div>
</ion-content>
