<ion-content class="recover-pass-content">
  <div class="recover-pass-container">
    <div class="circle-background">
      <img src="assets/elements/logo.png" alt="Logo">
    </div>
    <h2>Recuperação de Senha</h2>
    <p class="recover-pass-instruction">Informe um email que esteja cadastrado.</p>
    <form>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Email" placeholder="email@domain.com" type="email" required>
        </ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" class="recover-pass-button">Enviar Solicitação</ion-button>
    </form>
  </div>
</ion-content>