ion-content {
    --background: #007BFF;
}

.changepass-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.changepass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: auto;
    background: white;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.circle-background {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 70%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.circle-background img {
    width: 100px;
    height: auto;
}

h2 {
    margin: 10px 0;
    color: #001F3F;
    font-size: 24px;
    font-weight: bold;
}

.changepass-instruction {
    margin: 5px 0 20px;
    color: #001F3F;
    font-size: 16px;
    text-align: center;
}

ion-item {
    margin-bottom: 20px;
    --background: rgba(255, 255, 255, 0.8);
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

ion-input {
    min-height: 56px;
    color: #001F3F;
    border-radius: 30px;
}

.input-label {
    color: #66b0ff;
    font-size: 16px;
}

.changepass-button {
    margin-top: 10px;
    background-color: #007BFF;
    border-radius: 30px;
    --box-shadow: none;
}

.changepass-button::part(native) {
    border-radius: 30px;
}

.error-message {
    color: #FF4136;
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 5px;
}

.warning-message {
    color: #FF851B;
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 5px;
}
