<ion-content class="changepass-content">
  <div class="changepass-container">
    <div class="circle-background">
      <img src="assets/elements/logo.png" alt="Logo">
    </div>
    <h2>Alteração de Senha</h2>
    <p class="changepass-instruction">Informe sua nova senha.</p>
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input formControlName="newPassword" labelPlacement="stacked" label="Nova Senha" type="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <div *ngIf="changePassForm.get('newPassword')?.touched && changePassForm.get('newPassword')?.invalid">
        <p *ngIf="changePassForm.get('newPassword')?.hasError('required')" class="error-message">A nova senha é obrigatória.</p>
        <p *ngIf="changePassForm.get('newPassword')?.hasError('minlength')" class="warning-message">A senha deve ter pelo menos 6 caracteres.</p>
      </div>
      <ion-item>
        <ion-input formControlName="confirmPassword" labelPlacement="stacked" label="Confirmar Senha" type="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <div *ngIf="changePassForm.get('confirmPassword')?.touched && changePassForm.get('confirmPassword')?.invalid">
        <p *ngIf="changePassForm.get('confirmPassword')?.hasError('required')" class="error-message">A confirmação da senha é obrigatória.</p>
      </div>
      <div *ngIf="changePassForm.hasError('mismatch') && changePassForm.get('confirmPassword')?.touched">
        <p class="error-message">As senhas não coincidem.</p>
      </div>
      <ion-button expand="full" type="submit" class="changepass-button" [disabled]="changePassForm.invalid">Alterar Senha</ion-button>
    </form>
  </div>
</ion-content>
