ion-content {
    --background: #007BFF;
    padding: 0;
    margin: 0;
    height: 100%;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    border-radius: 8px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    ion-content {
        --background: white;
    }

    .login-container {
        padding: 30px 20px;
        width: 90%;
        max-width: 100%;
        min-height: 100vh;
    }

    .login-button {
        padding: 16px 32px;
        font-size: 16px;
        text-align: center;
        background-color: #007BFF !important;
        border: none;
        color: rgb(0, 0, 0) !important;
        width: 100%;
        border-radius: 30px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.1;
    }

    .login-button::part(native) {
        border-radius: 30px;
    }

    h2 {
        font-size: 20px;
    }
}

h2 {
    margin: 10px 0;
    color: #001F3F;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.login-instruction {
    margin: 5px 0 20px;
    color: #001F3F;
    font-size: 16px;
    text-align: center;
}

ion-item {
    margin-bottom: 25px;
    --background: rgba(255, 255, 255, 0.8);
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 100%;
}

ion-input {
    min-height: 56px;
    color: #001F3F;
    border-radius: 30px;
    width: 100%;
}

.input-label {
    color: #66b0ff;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .login-container {
        padding: 30px 20px;
        width: 90%;
        max-width: 100%;
    }

    .login-button {
        padding: 20px;
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .login-instruction {
        font-size: 14px;
    }

    ion-item {
        width: 100%;
    }

    .login-container {
        min-height: 100vh;
    }
}

.login-button {
    margin-top: 10px;
    background-color: #007BFF;
    border-radius: 30px;
    --box-shadow: none;
    height: 56px;
}

.login-button::part(native) {
    border-radius: 30px;
}

.forgot-password {
    margin-top: 25px;
    color: #001F3F;
    text-align: center;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
}

.register-text {
    margin-top: 25px;
    color: #001F3F;
    text-align: center;
}

.register-text a {
    color: #007BFF;
    text-decoration: none;
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    width: 100%;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    --box-shadow: none;
}

.social-login h3 {
    color: #001F3F;
    font-size: 18px;
    font-weight: bold;
}

.validation-message {
    color: #FF0000;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 12px;
}

.success-message {
    color: #007BFF;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 12px;
}
