<ion-content class="login-content">
  <div class="login-container">
    <div class="circle-background">
      <img src="assets/elements/logo.png" alt="Logo">
    </div>
    <h2>Bem-vindo de volta!</h2>
    <p class="login-instruction">Logue na sua conta.</p>
    <form>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Usuário" type="username" required>
          <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Senha" type="senha" required>
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" class="login-button">Logar</ion-button>
    </form>
    <p class="forgot-password">Esqueceu a senha? <a href="/recover-pass">Clique Aqui</a></p>
    <p class="register-text">Não tem uma conta? <a href="/register">Registre-se</a></p>

    <div class="social-login">
      <h3>Ou entre com</h3>
      <div class="social-buttons">
        <ion-button class="social-button" color="primary">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="social-button" color="primary">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="social-button" color="primary">
          <ion-icon name="logo-x"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>