<ion-content class="user-posts-content">
  <div class="user-posts-container">
    <div class="user-posts-header">
      <div class="user-posts-header-top">
        <h1><b>Suas Publicações</b></h1>
        <div class="user-posts-header-top-container">
          <ion-button fill="clear" class="notifications-button">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <!-- <img [routerLink]="['/profile']" class="profile-img" src="assets/elements/logo.png" alt="user profile picture"> -->
            <ion-img [routerLink]="['/profile']" src="assets/elements/logo.png" alt="clickable user profile picture"></ion-img>
          </ion-item>
          <!-- <img class="profile-img" [src]="loggedUser?.image" alt="user profile picture"> -->
        </div>
      </div>
    </div>

    <div class="user-posts-search">
      <ion-item lines="none">
        <!-- <ion-button id="open-modal" expand="block">Open</ion-button> -->
        <ion-input placeholder="Pesquisar...">
          <ion-icon slot="start" name="search-outline" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
    </div>

    <ion-segment-view class="user-posts-posts">
      <ion-segment-content id="user-posts">
        <ion-list [scrollTop]="true">
          <ion-item lines="none">
            <ion-card>
              <div class="card-content">
                <img class="card-img" src="assets/elements/logo.png" alt="user profile picture">
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </div>
              <div class="card-icons">
                <ion-button fill="clear">
                  <ion-icon slot="start" name="heart" aria-hidden="true"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon slot="start" name="chatbubbles" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-segment-content>
    </ion-segment-view>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Postar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
        <ion-content class="modal-content">
          <h2><b>Nova Publicação</b></h2>
          <ion-item class="modal-item ion-padding" lines="none">
            <ion-textarea autoGrow="true" label="" placeholder="Faça uma pergunta ou escreva uma dica..."></ion-textarea>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']" aria-label="Home">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
        </ion-tab-button>
        <ion-tab-button id="open-modal" aria-label="Add Post">
          <ion-icon name="add-circle-outline" aria-hidden="true"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/user-posts']" aria-label="User Posts">
          <ion-icon name="bookmarks-outline" aria-hidden="true"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </div>
</ion-content>


<!-- Esse trecho é a implementação para quando ocorrer a conexão com o backend -->
<!-- Estou deixando aqui por enquanto para colocar o placeholder e tirar o print para o banner logo -->
<!-- <ion-item *ngFor="let post of posts"> -->
<!-- <ion-card> -->
<!--   <div class="card-content"> -->
<!--     <img class="card-img" [src]="post.img" alt="user profile picture"> -->
<!--     <ion-card-content>{{ post.content }}</ion-card-content> -->
<!--   </div> -->
<!--   <div class="card-icons"> -->
<!--     <ion-button fill="clear"> -->
<!--       <ion-icon slot="start" name="heart" aria-hidden="true"></ion-icon> -->
<!--     </ion-button> -->
<!--     <ion-button fill="clear"> -->
<!--       <ion-icon slot="start" name="chatbubbles" aria-hidden="true"></ion-icon> -->
<!--     </ion-button> -->
<!--   </div> -->
<!-- </ion-card> -->
<!-- </ion-item> -->
