ion-content {
  --background: #007BFF;
}

ion-item {
  --background: #ffffff;
  width: 100%;
}

ion-input {
  color: #001F3F;
  border: 1px solid #66b0ff;
  border-radius: 30px;
  padding: 0 20px!important;
}

ion-tab-bar {
  --background: #9ecbec;
  --color: #ffffff;
  --height: 50px;
  border: none;
  font-size: 16px;
}

ion-card {
  --background: #9ecbec;
  --color: #000000;
  padding: 0 10px;
  border-radius: 30px;
}

ion-label {
  color: #66b0ff;
}

/* ion-segment-view { */
/*   width: 100%; */
/*   height: 100%; */
/* } */

ion-segment-view {
  width: 100%;
  height: 100%;
}

/* ion-segment-content { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

ion-list {
  --background: #ffffff;
}

.list-md {
  background: #ffffff!important;
}

.home {
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: auto;
    background: white;
  }

  &-header {
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
    color: #66b0ff;

    &-top {
      width: 100%;
      font-size: 30px;
      padding: 0 10px;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-search {
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    font-size: 20px;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notifications-button {
  font-size: 20px;
}
