.screen-loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

ion-content {
    --background: #007BFF;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.circle-background {
    position: relative;
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle-background img {
    position: absolute;
    width: 130px;
    height: auto;
}

h2 {
    margin: 10px 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

p {
    margin: 5px 0;
    color: #001F3F;
    font-size: 1.2rem;
    font-weight: bold;
}